* {
    font-family: 'Merienda One', cursive;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}


/* estrutura */
.altura {
    height: calc(100vw * 7);
}
#pinContainer {
    width: 100vw;
    height: 100vh !important;
    overflow: hidden;
    position: fixed;
}

.largura {
    height: 100%;
    width: calc(100vw * 7);
}


.panel.contato {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}



/* telas */
.panel1, .panel2, .panel3 {
    background-image: url('../imgs/telas/tela_padrao.png');
}

.panel4, .panel5, .panel6, .panel7 {
    background-image: url('../imgs/telas/tela_escura.png');
}

.text-intro {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 2s ease;
    position: relative; 
    z-index: 1;
}

.text-intro h1 {
    border: 3px solid white;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 6px 3px rgba(30, 30,30, 0.3);
}


.tela-escura-efeito {
    height: 100%;
    width: 100%;
    background-color: #000;
}



.panel {
    position: relative;
    height: 100%;
    width: 100vw;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
}


/* formulario */

.card-contato-form {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    opacity: 0;
    transform: translate(30%, 30%);
    transition: all 0.5s linear;
}
form button[type="submit"] {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
}


.form-group {
    display: flex;
    margin: 10px 0;
    position: relative;
}

.form-group input, .form-group textarea {
    flex: 2;
    border-radius: 10px;
    border: none;
    line-height: 30px;
    color: #444;
    padding-left: 10px;
}

.form-group input {
    height: 30px;
}


.form-group::after {
    content: "Email";
    position: absolute;
    top: 5px;
    left: 100%;
    height: 20px;
    
    transform: translate(-moz-calc(100% - 15px), 0);
    transform: translate(-webkit-calc(100% - 15px), 0);
    transform: translate(-o-calc(100% - 15px), 0);
    transform: translate( calc(-100% - 15px), 0);   
    
}

.inputName.form-group::after {
    content: "Nome";
}

.inputEmail.form-group::after {
    content: "Email";
}

.inputTextArea.form-group::after {
    content: "Mensagem";
}

.form-group input:focus, .form-group textarea:focus {
    outline: none;
    background-color: rgba(130, 180, 230, .5);
    color: white;

}

.form-group label {
    flex: 1;
}


.outros-contatos {
    display: flex;
    justify-content: space-around;
}

.outros-contatos a{
    display: block;
}

.outros-contatos-img {
    flex-basis: 18%;
    cursor: pointer;    
}

.outros-contatos img {
    max-width: 100%;
    height: auto;
    opacity: 0;
}




/* elementos da tela */
.personagem {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 70%;
    left: 10%;
    z-index: 9999;
}

img#personagem  {
    width: 100%;
    height: 100%;
}

.sol img, .lua img {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 10%;
    left: 5%;
    z-index: 99;
    opacity: 0;
    transition: all 2s ease;
}

.tijolo {
    background-image: url('../imgs/elementos_tela/tijolo.jpg');
    
    background-repeat: repeat;
    background-size: contain;
}

.panel2 .tijolo {
    height: 80px;
    width: 80px;
    position: absolute;
}

.panel2 .tijolo1 {
    left: 25%;
    top: 40%;
}

.panel2 .tijolo2 {
    left: 50%;
    top: 40%;
}

.panel2 .tijolo3 {
    left: 75%;
    top: 40%;
}

.panel3 .buraco {
    background-image: url('../imgs/elementos_tela/buraco.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 70px;
    position: absolute;
    top: calc(100vh - 80px);
    left: 23%;
}

.panel3 .panel3-escurecer {
    width: 100%;
    height: 100%;
}

.panel4 .tijolo {
    height: 40px;
    width: 120px;
    background-color: blue;
    position: absolute;
}

.panel4 .tijolo1 {
    left: 40%;
    top: 84%;
}

.panel4 .tijolo2 {
    left: 65%;
    top: 64%;
}

.panel4 .tijolo3 {
    left: 88%;
    top: 44%;
}

.panel4 .tijolo img{
    width: 80px;
    height: auto;
    position: absolute;
    left: 10%;
    top: -100px;
    animation: spin 1s linear infinite;   
}

.panel5 .star img{
    height: auto;
    width: 80px;
    position: absolute;
    top: 20%;
    left: 20%;
}

.panel5 .tunel, .panel7 .tunel-reverso {
    background-image: url('../imgs/elementos_tela/tunel.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 210px;
    height: 240px;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
    
}

.panel5 .tunel {
    left: 100%;
    transform: rotate(180deg) translate(100%, 100%);
}

.panel6 .tunel-extenso {
    background-image: url('../imgs/elementos_tela/tunel-extenso.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 240px;
    position: absolute;
    top: 100%;
    left: 0;
    transform: rotate(180deg) translate(0, 100%);
}


.sol img, .lua img{
    animation: luaesol 6s alternate infinite ease-in;
}

.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.portfolio-galeria {
    display: flex;
    justify-content: center;
    max-height: 420px;
    flex-wrap: wrap;
    z-index: 1;
}

.portfolio-galeria .portfolio-card{
    flex-basis: 15%;
    margin: 0 25px;
    opacity: 0;
    
}

.portfolio-card img{
    width: auto;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 3px 11px 6px rgba(30, 30,30, 0.3);
}


@media (max-width: 960px) {
    .portfolio-card img{
        max-height: 350px;
    }
  }

  @media (max-width: 860px) {

    .panel1 .text-intro h1 {
        flex-basis: 60%;
    }

    .portfolio-section {
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .portfolio-galeria{
        flex: 1;
        max-height: 50vh;
        width: 100%;
    }

    .portfolio-galeria .portfolio-card {
        flex-basis: 50%;
        display: flex;
        margin: 0;
    }

    .portfolio-card img{
        width: 110px;
        height: 245px;
    }

    .rodaCartao {
        animation: none !important;
        opacity: 1 !important;
        transform: rotate(90deg);
    }

    .panel5 .tunel, .panel7 .tunel-reverso {
        width: 140px;
        height: 166px;
        top: 90%;
    }

    .panel6 .tunel-extenso {
        height: 166px;
        top: 90%;
    }
  }

  

/* alerta para contato - email */
.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 80%;
    display: none;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  .alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    color: inherit;
    background-color: inherit;
    border: none;
  }


/* animação */
.text-intro-anima {
    transform: translate(0, 0);
    opacity: 1;
}



/* .tela-escura-efeito-hide {
    background-color: transparent;
} */

.html5Skill {
    background-image: url('../imgs/elementos_tela/html5.png');
    background-repeat: no-repeat;
}

.css3Skill {
    background-image: url('../imgs/elementos_tela/css3.png');
    background-repeat: no-repeat;
}

.javascriptSkill {
    background-image: url('../imgs/elementos_tela/javascript.png');
    background-repeat: no-repeat;
}

.frameSkill-hide {
    transform: translate(0, -100%);
    opacity: 0;
}

.escurecerPainel-0 {
    background: rgba(0, 0, 0, 0);
}

.escurecerPainel-1 {
    background: rgba(0, 0, 0, 0.2);
}

.escurecerPainel-2 {
    background: rgba(0, 0, 0, 0.4);
}

.escurecerPainel-3 {
    background: rgba(0, 0, 0, 0.6);
}

.escurecerPainel-4 {
    background: rgba(0, 0, 0, 0.8);
}

.escurecerPainel-5 {
    background: rgba(0, 0, 0, 1);
}

.rodaCartao {
    animation: spinCartao 1s linear forwards;   
}

.show {
    opacity: 1 !important;
}

.hide {
    opacity: 0 !important;
}


.showForm {
    opacity: 1 !important;
    transform: translate(0, 0);
}





@-ms-keyframes spin {
    from { -ms-transform: rotateY(0deg); }
    to { -ms-transform: rotateY(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}






@-ms-keyframes spinCartao {
    from { -ms-transform: rotateY(0deg) rotate(0deg); }
    to {
         -ms-transform: rotateY(360deg) rotate(10deg);
        opacity: 1;
        }
}
@-moz-keyframes spinCartao {
    from { -moz-transform: rotateY(0deg) rotate(0deg); }
    to { -moz-transform: rotateY(360deg) rotate(10deg); 
        opacity: 1;
        }
}
@-webkit-keyframes spinCartao {
    from { -webkit-transform: rotateY(0deg) rotate(0deg); }
    to { -webkit-transform: rotateY(360deg) rotate(10deg); 
        opacity: 1;
        }
}
@keyframes spinCartao {
    from {
        transform:rotateY(0deg) rotate(0deg);
    }
    to {
        transform:rotateY(360deg) rotate(10deg);
        opacity: 1;
    }
}







@-ms-keyframes luaesol {
    from { -ms-transform: scale(0.8)}
    to { -ms-transform: scale(1.2)}
}
@-moz-keyframes luaesol {
    from { -moz-transform: scale(0.8)}
    to { -moz-transform: scale(1.2)}
}
@-webkit-keyframes luaesol {
    from { -webkit-transform: scale(0.8)}
    to { -webkit-transform: scale(1.2)}
}
@keyframes luaesol {
    from {
        transform:scale(0.8) rotate(30deg);
    }
    to {
        transform:scale(1.2) rotate(90deg);
    }
}




