body {
    margin: 0;
}


/* telas */

.tela_padrao {
    background-image: url('../imgs/telas/tela_padrao.png');

}

.tela_buraco {
    background-image: url('../imgs/telas/tela_buraco.png');
}

.tela_escura {
    background-image: url('../imgs/telas/tela_escura.png');
}

.tela_tunel {
    background-image: url('../imgs/telas/tela_tunel.png');
}

.desloca-parte1 {
    transform: translate(calc(100vw * -2),0);
}

.desloca-parte2 {
    transform: translate(0, -100vh);
}
/* 
#global-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #333;
    
}

.container-limit {    
    width: calc(100% * 4);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.panel {
    height: 100%;
    width: 100vw;
    float: left;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
} */

.altura {
    height: calc(100vw * 7);
}
#pinContainer {
    width: 100vw;
    height: 100vh !important;
    overflow: hidden;
    position: fixed;
}

.largura {
    height: 100%;
}

.largura.parte1 {
    width: calc(100vw * 3);
}

.largura.parte2 {
    width: calc(100vw * 5);
}

.panel.contato {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.panel.show-contato {
    opacity: 1;
}


.panel {
    position: relative;
    height: 100%;
    width: 100vw;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.personagem {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 80%;
    left: 10%;
    z-index: 9999;
}

.sol img, .lua img {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 10%;
    left: 5%;
    z-index: 99;
}

.personagem-movimento {
    left: 40%;
}

.personagem-up {
    top: 60%;
}

.personagem-down {
    top: 80%;
}

.hidePersonagem {
    opacity: 0;
    z-index: -1;
}

#target {
    opacity: 0;
    position: absolute !important;
}

#target.showTarget {
    opacity: 1;
}

#target img {
    width: 90px;
    height: auto;
}

/* elementos da tela 2 */
.parte1 .tijolo {
    height: 80px;
    width: 80px;
    background-color: blue;
    position: absolute;
}

.parte1 .tijolo1 {
    left: 5%;
    top: 40%;
}

.parte1 .tijolo2 {
    left: 30%;
    top: 40%;
}

.parte1 .tijolo3 {
    left: 55%;
    top: 40%;
}

.parte2 .tijolo {
    height: 40px;
    width: 120px;
    background-color: blue;
    position: absolute;
}

.parte2 .tijolo1 {
    left: 35%;
    top: 84%;
}

.parte2 .tijolo2 {
    left: 58%;
    top: 64%;
}

.parte2 .tijolo3 {
    left: 80%;
    top: 44%;
}

.star img{
    height: auto;
    width: 80px;
}